apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-a
  annotations:
    pipeline.autoupdate: "true"
    pipeline.image-repo: demo/app-a
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: app-a
        image: demo/app-a:1.0.0
